* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: center;
}

html {
    /* overflow-y: hidden; */
    overflow-x: hidden !important;
}

#logo-full {
    padding-top: 0px;
}

#logo {
    font-family: 'Work Sans' !important;
    font-weight: bold !important;
    color: #0D0745;
    padding: 6px 0px 6px 32px;
    display: inline;
    margin: 0;
    font-size: 56px;
}

#logo-dot {
    font-family: 'Alfa Slab One';
    display: inline;
    margin: 0;
    padding: 0;
    color: #5E72EB;
    font-size: 48px;
}

a {
    font-size: 16px !important;
    display: inline;
    font-family: 'Open Sans';
    color: #0D0745;
}

a:hover {
    text-decoration: none;
}

img {
    display: inline;
}

h1 {
    font-family: 'Work Sans' !important;
    font-weight: bold !important;
    color: #0D0745;
    padding-left: 24px;
}

h2 {
    font-family: 'Work Sans' !important;
    font-weight: bold !important;
    color: #0D0745;
    padding: 6px 0px 6px 32px;
    display: inline;
    margin: 0;
    font-size: 56px;
}

h5 {
    font-family: 'Work Sans' !important;
    font-weight: bold !important;
    color: #4D62E2;
    padding-left: 24px;
}

h4 {
    font-family: 'Work Sans' !important;
    font-weight: 600 !important;
    padding-left: 24px;
    padding-right: 24px;
}

p {
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 24px;
    color: #0D0745;
}

#side-nav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FEFEFE;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0px 4px 16px rgba(13, 7, 69, 0.25);
}

#side-nav a {
    padding: 6px 32px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #130D6F;
    display: block;
}

#side-nav a:hover {
    color: #5E72EB;
}

#nav-accent {
    position: absolute;
    width: 50%;
    left: 0%;
    right: 26.15%;
    top: 8.27%;
    bottom: 58.65%;
    z-index: 9999;
}

#lower-side-nav {
    padding-top: 60px;
    text-align: right;
}

#upper-side-nav {
    padding-top: 40px;
    text-align: right;
}

#main {
    margin-left: 240px !important;
    /* width: 800px; */
    padding: 56px 32px;
    /* bottom: 50% !important; */
}

#main-feature {
    margin-left: 240px;
    width: 80%;
    padding-left: 32px;
    margin-right: 24px;
    padding-top: 80px;
    overflow-x: hidden;
}

#tools {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

#tool-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 3200px;
    margin: 0 i !important;
    border-radius: 8px;
    margin-right: 16px;
}

#tool-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

#bottom-card {
    width: 680px;
    height: 10px;
    margin-left: 420px;
    padding-left: 32;
    padding-top: 25px;
    padding-bottom: 64px;
}

#taskman-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 690px;
    height: 120px;
    margin: 0 i !important;
    border-radius: 8px;
    margin-right: 16px;
}

#taskman-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

#taskman-content {
    padding: 30px 10px;
    color: #FEFEFE;
    font-family: 'Work Sans';
    font-weight: semibold;
    font-size: 24px !important;
    text-decoration: none !important;
}

#taskman-detail {
    color: #FEFEFE;
    padding-right: 24px;
}

#card-content a {
    padding: 6px 16px;
    color: #FEFEFE;
    font-family: 'Work Sans';
    font-weight: semibold;
    font-size: 24px !important;
    text-decoration: none !important;
}

#card-content {
    padding-top: 24px;
    color: #FEFEFE;
    height: 100%;
}

#card-detail {
    color: #FEFEFE;
    padding-right: 24px;
    font-size: 16px !important;
}


#main-radial {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

@media screen and (min-width: 1600px) {
    #main-radial {
        left: 5%;
        z-index: -999;
    }

    #banner-home {
        font-size: 72px !important;
    }

    #main {
        padding-top: 90px;
    }
}

.hide {
    display: none;
}

#form-group {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#right-side-panel {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: none;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 80px;
    padding-right: 60px;
}

#account-name {
    font-family: 'Work Sans';
    line-height: 0;
    font-weight: bold;
    text-align: right;
    color: #4D62E2;
}

#account-email {
    font-family: 'Work Sans';
    line-height: 0;
    font-weight: 300;
    text-align: right;
    color: #4D62E2;
}

#date-time {
    /* background-color: #eee; */
    text-align: right;
    border-radius: 8px;
    /* padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 24px; */
    padding-top: 40px;
    padding-right: 32px;
}

#date-time p {
    padding: 0;
    line-height: 2px;
    color: #0D0745;
}

col {
    padding: 0 !important;
    margin: 0 !important;
}

#time {
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 20px;
    color: #0D0745;
    padding-bottom: 8px !important;
}

#view-all {
    padding-left: 16px;
    font-weight: normal !important;
}


.rating {
    position: relative;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* left: 15%; */
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 54px;
}

.rating label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 54px;
    color: #E5E5E5;
}

.rating label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 54px;
    color: #FBA76B;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}

textarea {
    border-radius: 8px;
    border-color: #5E72EB;
    border-width: 2px;
    padding: 12px 12px;
    margin: 24px;
    width: 60%;
    font-family: 'Work Sans';
    color: #0D0745;
}

#feedback-text {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;

}

#submit-button {
    margin: 0 auto !important;
    padding: auto;
    display: flex;
}

button {
    padding: 8px 16px;
    background-color: #130D6F;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    font-weight: bold;
    text-transform: uppercase !important;
}

.controls button {
    padding: 16px 24px;
    background-color: #130D6F;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    font-weight: bold;
    text-transform: uppercase !important;
}

#done-btn {
    padding: 16px 24px;
    background-color: #130D6F;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    font-weight: bold;
    text-transform: uppercase !important;
}

.clear-button {
    padding: 16px 58px;
    background-color: #130D6F;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    font-weight: bold;
    text-transform: uppercase !important;
}

.calculate-button {
    padding: 16px 24px;
    background-color: gray !important;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    font-weight: bold;
    text-transform: uppercase !important;
}

.calculate-button-success {
    padding: 16px 24px;
    background-color: #5E72EB;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    font-weight: bold;
    text-transform: uppercase !important;
}

.td-qpi{
    border-top: none !important;
    text-align: center;
    vertical-align: middle;
}

.table tr {
    text-align: center;
    justify-content: center;
}

.controls {
    margin: auto;
    width: 50%;
    padding: auto;
    display: flex;
    justify-content: center;
}

#next-btn {
    background-color: #4D62E2;
    color: #FEFEFE;
}

#answer-buttons button {
    margin: auto;
    margin-right: 16px;
    padding: 16px 24px;
    display: inline;
    filter: drop-shadow(0px 4px 4px rgba(13, 7, 69, 0.25));
    background: #FEFEFE;
    color: #130D6F;
    font-weight: bold;
    transition-duration: 0.4s;
}

#answer-buttons button:hover {
    margin: auto;
    margin-right: 16px;
    padding: 16px 24px;
    display: inline;
    filter: drop-shadow(0px 4px 4px rgba(13, 7, 69, 0.25));
    font-weight: bold;
    background: #0D0745;
    color: #FEFEFE;
}

#status p {
    color: #5E72EB;
    position: absolute;
    margin: auto;
    padding: auto;
    transform: translate(360%, -300%);
}

#quiz-contents {
    border-color: #4D62E2;
    background: #FEFEFE;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    padding: 56px 56px 32px 56px;
    text-align: center;
    width: 80%;
    margin: auto;
}

table {
    margin: 0px !important;
}

#question {
    font-size: 18px;
    font-family: 'Work Sans' !important;
    font-weight: 600;
}

#heading-lsq {
    font-family: 'Work Sans' !important;
    font-weight: bold !important;
    color: #4D62E2 !important;
    padding: 0 !important;
}

#question-num {
    padding: 0 !important;
    color: #4D62E2;
}

#table {
    border: 0;
    border-collapse: collapse;
    margin-left: 70px;
}

#qpiresults {
    border: 0;
    border-collapse: collapse;
    margin-left: 200px;
}

#buttonborder {
    border: none;
}

#tfoot {
    font-family: 'Work Sans' !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    text-align: center;
    border: none;
}

#calc-QPI {
    font-family: 'Work Sans' !important;
    font-weight: 600 !important;
    background-color: #0D0745;
}

#clear {
    font-family: 'Work Sans' !important;
    font-weight: 600 !important;
    background-color: #031B89;
    color: white;
}

.qpi-holder {
    background: #FEFEFE;
    border-style: solid;
    border-radius: 8px;
    border-color: #4D62E2;
    border-width: 2px !important;
    text-align: center !important;
    justify-content: center !important;
    display: flex;
    padding: 0;
    margin-bottom: 24px;
}

#add {
    font-family: 'Work Sans' !important;
    font-weight: 600 !important;
    background-color: #5E72EB;
}

#tbody {
    font-family: 'Work Sans' !important;
}

#course-code {
    font-family: 'Work Sans' !important;
}

#number-of-units {
    font-family: 'Work Sans' !important;
}

#letter-mark {
    font-family: 'Work Sans' !important;
}

/* Pomodoro Timer CSS. (this is my territory now) */

#pomodoroCaption {
    font-family: 'Work Sans';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-right: 40px;
}

#pomodoroTimerContainer {
    height: 160px;
    width: 400px;
    margin: 0 auto;
    border: 4px solid #4D62E2;
    border-radius: 8px;
    padding: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

#pomodoroMainTimer {
    display: flex;
    align-content: center;
    justify-content: center;
}

#minutes {
    font-family: 'Work Sans';
    font-size: 104px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

#semicolon {
    font-family: 'Work Sans';
    font-size: 104px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

#seconds {
    font-family: 'Work Sans';
    font-size: 104px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

#pomodoroButtons {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

#pomodoroButtons button{
    padding: 16px 58px;
    background-color: #130D6F;
    color: #FEFEFE;
    border-style: none;
    border-radius: 8px !important;
    box-shadow: 0px 4px 4px rgba(13, 7, 69, 0.25);
    text-transform: uppercase !important;
}

/* Task Management Specifics */

/*This style sheet is based on the tutorial from https://medium.com/clarusway/making-a-todo-list-with-html-css-and-javascript-154839b770b6*/

  /* Style the "Add" button */
  /* .addbtn {
    padding: 0;
    margin: 0px;
    background: #d9d9d9;
    color: #555;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    font-weight: bold;
  }
  
  .addbtn:hover {
    background-color: #bbb;
    color: #FFF;
  }

  .addbtn:active{
    background-color: #bbb;
    box-shadow: 0 5px #666;
    transform: translateY(100px);
  } */
  
  /* This styles the tasks and the task borders*/
  ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 24px 32px 24px 32px;
    border-bottom-width: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px !important;
    /* margin: 0 350px 40px 350px; */

    background: #eee;
    border-radius: 8px;

    font-size: 18px;
    transition: 0.2s;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Changes the background of the task to a darker color when cursor hovers */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #130D6F;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 26px;
    left: 18px;
    transform: rotate(45deg);
    height: 16px;
    width: 7px;
  }
  
  /* Style the close button */
  .del {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 6px;
    padding: 8px 24px 8px 24px;
  }
  
  .del:hover {
    /*background-color: #f44336;*/
    color:white;
  }

#design-cast {
    position: relative;
    overflow: hidden;
}

.member {
    float: left;
    width: 20%;
    
}

.name {
    bottom: 0px;
    text-align:center;
    font-size: 20px;
    
}

.member img {
    display: block;
}

#cutepictures {
    padding-left: 20px;

    
}

#profpic {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  